<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="keyword" content="something">
    <meta name="description" content="something description">
  </head>
  <body>
  </body>
</html>
